<div class="form_toggle">
  <button class="edit"> Edit Comment </button>
  <form class="edit_form" action="/categories/<%= params[:category_id] %>/items/<%= comment.item_id %>/comments/<%= comment.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
   <textarea rows="4" cols="50" name="content"></textarea>
    <input type="submit" value="Update">
  </form>

</div>